
body{
	font-family: "Gluten", sans-serif;
	width:  800px;
	margin:  0 auto;
}

.center{
	text-align: center;
}

h1{
	font-size: 30px;
	font-family:  Audiowide;
	text-align: center;
	color: Brown;
}
h3{
	font-size: 20px;
	text-align: center;
	color: #3498DB;
}


h4{
	font-family:  Audiowide;
	font-size: 35px;
	text-align: center;
	font-weight: 200;
	color: #BA4A00;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.img
{
	/*--Padding: 5px; --*/
	text-align: center;
	box-shadow: 10px 10px 7px  #888;

}

.border{
	border-style: solid;
	border-color:  #287EC7;
	margin-top:10px;
	box-shadow: 10px 10px 7px  #888;
}

